/* Basic editor styles */
.ProseMirror {
  // > * + * {
  //   padding: 0.75rem;
  //   margin: 0;
  // }
  * {
    padding: 0.75rem;
    margin: 0;
  }
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}