.wiki-container {
  padding: 1rem;
  padding-top: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  .wiki-block-wrapper {
    position: inherit;
  }
  .wiki-toolbar {
    /* bottom: 0px;
    left: 0px; */
    right: unset;
    top: unset;
    max-width: 100%;
    position: sticky;
  }
  .wiki-toolbar-pad {
    min-width: 4em;
  }
  .wiki-container {
    padding: 0;
    padding-top: 60px;
  }
}
