.wiki-container {
  padding: 1rem;
  padding-top: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  .wiki-container {
    padding: 0;
    padding-top: 60px;
  }
}
/* 
.emoji-mart-emoji, .emoji-mart-emoji > * {
  vertical-align: text-bottom;
  padding: 0 !important;
  margin: 0 !important;
} */
